:root {
  --rp-orange: #f97516;
  --rp-orange-dark: #ed6900;
  --rp-orange-light: #FFDEC6;
  --rp-orange-shadow: 0 0 0 0.25rem #fff2e8;
  /*--gray-medium:  #d3dbe3;*/
  --gray-medium:  #e2e7ed;
}


.navbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.navbar-expand-lg .navbar-collapse {
  display: flex!important;
  flex-basis: auto !important;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: row;
}
.nav-link {
  color: #fff;
  border-bottom: 1px solid transparent;
  padding-bottom: 0px;
}
.nav-link:focus,
.nav-link:hover {
  color: #fff;
  border-color: #fff;
}



/* Links */
a:hover {
  color: var(--rp-orange-dark);
}


/* Buttons */
.btn-primary {
  background-color: var(--rp-orange);
  border-color: var(--rp-orange);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--rp-orange-dark);
  border-color: var(--rp-orange-dark);
}

.btn-outline-primary {
  background-color: transparent;
  border-color: var(--rp-orange-dark) !important;
  color: var(--rp-orange-dark);
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  border-color: var(--rp-orange-dark) !important;
  background-color: var(--rp-orange-dark);
  color: #fff;
}

.btn-secondary {
  border-color: var(--bs-light) !important;
  background-color: var(--bs-light) !important;
  /*background-color: var(--gray-medium) !important;*/
  color: #000;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  border-color: var(--gray-medium) !important;
  background-color: var(--gray-medium) !important;
  /*background-color: #cdd3d9 !important;*/
  color: #000;
}

.btn-outline-secondary {
  background-color: transparent;
  border-color: var(--gray-medium) !important;
  color: #000;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  border-color: var(--gray-medium) !important;
  background-color: var(--gray-medium) !important;
  color: #000;
}

.btn-check:active+.btn:focus,
.btn-check:checked+.btn:focus,
.btn.active:focus,
.btn.dropdown-toggle.show:focus,
.btn:active:focus,
.btn-check:focus+.btn,
.btn:focus {
  box-shadow: var(--rp-orange-shadow) !important;
}


.form-check-input:checked {
  background-color: var(--rp-orange);
  border-color: var(--rp-orange);
}
.form-check-input:focus {
  border-color: var(--rp-orange-dark);
  outline: 0;
  box-shadow: var(--rp-orange-shadow);
}


.alert-rp,
.alert-rp a {
  background-color: #fff2e8;
  /*color: #d37428;*/
  color: #fb903b;
}


/* Colors Helpers */
.rp-orange {
  color: var(--rp-orange);
}
.bg-rp-orange {
  background-color: var(--rp-orange);
}
.rp-orange-dark {
  color: var(--rp-orange-dark);
}
.bg-rp-orange-dark {
  background-color: var(--rp-orange-dark);
}
.rp-orange-light {
  color: var(--rp-orange-light);
}
.bg-rp-orange-light {
  background-color: var(--rp-orange-light);
}


.btn svg {
  margin-right: 0.25rem !important;
  margin-top: -0.2rem;
  display: inline;
  height: 1.4rem;
  width: 1.4rem;
}
.btn-radio svg {
  height: 0.75rem;
  width: 0.75rem;
  opacity: 0.5;
}
svg.new-tab-icon {
  height: 0.8rem;
  width: 0.8rem;
}


.prompt-option p {
  margin-bottom: 0;
  display: inline;
}



.prompt-link {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  color: var(--bs-secondary);
  opacity: 0.6;
}
.prompt-link svg {
  width: 2rem;
  height: auto;
}
.prompt-link:hover {
  opacity: 0.9;
  color: var(--bs-secondary);
}
.prompt .card-title {
  max-width: calc(100% - 2rem);
}
#pageLink {
  color: var(--bs-light);
  opacity: 0.5;
}
#pageLink svg {
  width: 2.25rem;
  height: auto;
}
#pageLink:hover {
  opacity: 0.9;
}


.markdown h2 {
  /*margin-top: 2.5rem;*/
  /*margin-bottom: 2rem;*/
}
.markdown h3, .markdown h4 {
  /*margin-top: 2rem;*/
  /*margin-bottom: 1rem;*/
}
.markdown li {
  /*margin-top: 0.5rem;*/
  /*margin-bottom: 0.5rem;*/
}
.markdown .category:first-child {
  margin-top: 0 !important;
}
.markdown details {
  border: solid 1px #eee;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: rgb(248,249,250);
}
.markdown details[open] summary {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}
.markdown img {
  margin: 5px auto;
  max-width: 100%;
  height: auto;
  max-height: 350px;
  display: block;
}
.markdown .caption {
  display: block;
  text-align: center;
  font-size: .875em;
  padding-bottom: 1rem!important;
}
.markdown table {
  width: 100% !important;
  margin-bottom: 1rem !important;
  color: #212529 !important;
  vertical-align: top !important;
  border-color: #dee2e6 !important;
  border-collapse: collapse !important;
}
.markdown table>thead {
  vertical-align: bottom;
}
.markdown table>:not(:last-child)>:last-child>* {
  border-bottom-color: currentColor;
}
.markdown table>:not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.markdown table>tbody {
  vertical-align: inherit;
}
.markdown pre {
  background-color: #222;
  padding: 10px 15px;
}
.markdown pre code {
  color: #eee;
}

