<!DOCTYPE html>
<html lang="en" class="bg-light">
  {%- include partials/head.html -%}
  <body class="d-flex flex-column min-vh-100 bg-light">
    {%- if site.notification_enabled == true -%}
      {%- include partials/notification.html -%}
    {%- endif -%}
    {%- if site.nav_enabled == true -%}
      {%- include partials/nav.html -%}
    {%- endif -%}

    <!-- Header -->
    <header class="bg-rp-orange">
      <div class="container pt-3 pb-5 mt-2 mb-5 text-center text-white">
        {%- if page.header -%}
          <h1 class="display-5 fw-bold text-capitalize mt-5">{{page.header}}</h1>
        {%- elsif page.title -%}
          <h1 class="display-5 fw-bold text-capitalize mt-5">{{page.title}}</h1>
        {%- endif -%}
        <div class="col-lg-7 mx-auto">
          <p class="lead mb-4">
            <a href="/" class="text-white">Home</a>
          </p>
        </div>
      </div>
    </header>

    <!-- Troubleshooting Prompts -->
    <section class="markdown">
      <div class="container py-5">
        <div class="row justify-content-center" style="margin-top: -7rem;">
          <div class="col-12">
            <div class="card rounded-0 border-white mx-auto" style="max-width: 40rem;">
              <div class="card-body m-3">
                {{content | markdownify}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {%- include partials/footer.html -%}
    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="/assets/js/main.js" type="application/javascript"></script>
    {%- case page.name -%}
      {%- when "custom.md" -%}
         <script src="/assets/js/custom.js" type="application/javascript"></script>
      {%- else -%}
    {%- endcase -%}
  </body>
</html>

